@page
@{
    ViewData["Title"] = "Post 1";
    Layout = "_PostLayout";
}
<h1>Day la Post 1</h1>

@* section nay se dc gui cho layout, layout se nhan o the render va hien thi ra  *@
@section ThongtinFooter {
    <div class="alert-danger"> Bai viet lien quan toi post 1 </div>
}