@{
    var title = ViewData["titlemsg"] ??  "Thong bao";
    var content = ViewData["content"] ?? "Noi dung thong bao";
}
<div class="alert alert-danger">
    <strong> @title</strong>        
    @content
</div>